Flask>=1.1.1
Flask_Cors>=3.0.8
Flask_Limiter>=1.0.1
flask_restx>=0.5.0
flask_caching
kaleido
numpy>=1.24.2
pandas>=1.5.3
plotly>=5.13.1
requests>=2.23.0
setuptools>=41.1.0
scikit-learn
Werkzeug>=1.0.1
scikit-learn
